@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

body{
  background-color: black;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin-top: 64px;
  background-color:black;
  padding: 20px;
  margin: auto;
  margin-top:20px;
  border-radius: 15px;
  text-align: center;

}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 600px;
  margin: auto;
  width: 80%;
}



.secondContainer{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  padding: 10px;
}

.inputContainer {
  display: flex;
  width:100%;
  flex-direction: column;
  justify-content: space-evenly;
  
}

.input {
  margin: auto;
  width: 80%;
}

.buttonContainer{
  margin:0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
}


input {
  height: 100px;
  border: 2px solid slateblue;
  background-color:transparent;
  border-radius: 10px;
  font-size: 1rem;
  color:#eee;
  word-wrap: break-word;
  text-align:left;
  justify-content:center;
  width: 100%;
  padding: 5px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight:bold;
  color:rgb(231, 238, 169);
  font-family: 'Roboto', sans-serif;
}

.bio {
  text-align: center;
  color:#eee;
  margin-top: 25px;
  font-size: 1.2rem;
  font-family: 'Oxygen';
}

.waveButton {
  text-align: center;
  text-transform:uppercase;
  justify-content: center;
  border:none;
  width: 200px;
  cursor: pointer;
  padding: 15px;
  font-size: 1rem;
  border-radius: 10px;
  color:whitesmoke;
  margin-top: 0;
  margin-bottom: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  transition: 0.5s;
  background-size: 200% auto;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  display: inline-block;
  background-image: linear-gradient(to right, #461797 0%, #8b0579 51%, #461797 100%);
  
}

.waveButton:hover {
 background-position: right center;
}

.text {
  color :rgb(92, 190, 100);
  text-align: center;
}

.count {
  font-size: 1rem;
  text-align:center;
  color :rgb(255, 187, 61);
  margin-top:15px;
}

.waveContainer {
  display: flex;
  flex-direction: column-reverse;
  width:90%;
  margin: auto;
  margin-top: 16px;
}

.wave{
  color:#eee;
  text-align: left;
  border: none;
  margin:10px;
  padding:10px;
  font-family: 'Oxygen', sans-serif;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color:#351868;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
}

.info {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  color: rgb(223, 179, 214);
  font-size: 0.8rem;
  height: auto;
}

#link {
  background-color: transparent;
  border:none;
  cursor: pointer;
  color: rgb(243, 111, 111);
  text-align: left;
  justify-content: left;
}